html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Press Start 2P', cursive;
  color: white;
  background-color: #212529;
}

input,
textarea,
button {
  font-family: 'Press Start 2P', cursive;
}

.nes-btn.is-dark,
.nes-progress.is-dark {
  border-image-source: url('../assets/images/button-border-dark.svg');
}

.nes-progress.is-dark {
  color: white;
  background-color: transparent;

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background-color: white;
  }
}
